form{
  width: 500px;
  margin: 30px auto;
  text-align: center;
}

form input{
  margin-bottom: 5px;
}

form input[type='button']{
  margin-right: 10px;
}

form input[type='text']{
  text-align: center;
}

form input[type='file']{
  text-align: left;
}

.form-group {
  display: flex;
  margin-left: 30px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

